# Archivos de Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de entorno virtual
env/
venv/

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de configuración de entornos de desarrollo
*.env
*.venv
*.pyenv

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de bases de datos
*.sqlite3
*.db
